In [1]:
# Import Library Python
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# the help() function is a built-in function that provides information about modules, classes, functions, and modules.
help(plt.autumn)

Help on function autumn in module matplotlib.pyplot:

autumn() -> 'None'
    Set the colormap to 'autumn'.

    This changes the default colormap as well as the colormap of the current
    image if there is one. See ``help(colormaps)`` for more information.

In [3]:
pd.set_option('display.max_columns',None) # to see ALL COLUMNS in a DataFrame table. 'None' means there is no limit for displayed columns.
# pd.set_option('display.max_rows',None) # to see ALL ROWS in a DataFrame table.

Dataset 1

In [4]:
dataset_path_1 = "accepted.csv"
dataset_path_2 = "rejected.csv"

In [5]:
# Membaca dataset
df1 = pd.read_csv(dataset_path_1)
df2 = pd.read_csv(dataset_path_2)

C:\Users\STRIX\AppData\Local\Temp\ipykernel_43660\2175878119.py:2: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(dataset_path_1)

In [6]:
# Hapus kolom yang memiliki banyak nilai kosong
ac = df1.drop(columns=['term', 'member_id', 'desc', 'verification_status_joint', 
                            'emp_title', 'home_ownership', 'grade', 'verification_status',
                            'issue_d', 'url', 'purpose', 'addr_state', 'earliest_cr_line',
                            'initial_list_status', 'revol_bal_joint', 'sec_app_fico_range_low',
                            'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
                            'sec_app_mort_acc', 'sec_app_open_act_il', 'sec_app_chargeoff_within_12_mths',
                            'sec_app_num_rev_accts', 'sec_app_collections_12_mths_ex_med', 'sec_app_revol_util',
                            'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog',
                            'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term',
                            'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date',
                            'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest',
                            'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag',
                            'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_date',
                            'settlement_amount', 'settlement_percentage', 'settlement_term', 'mths_since_last_record', 'last_pymnt_d',
                            'next_pymnt_d','application_type', 'sec_app_open_acc', 'annual_inc_joint',	'dti_joint', 'emp_length',
                             'loan_status', 'zip_code', 'sub_grade', 'title', 'last_credit_pull_d', 'pymnt_plan'])
ac

,id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68407277,3600.0,3600.0,3600.0,13.99,123.03,55000.0,5.91,0.0,675.0,679.0,1.0,30.0,7.0,0.0,2765.0,29.7,13.0,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.00,0.0,0.0,122.67,564.0,560.0,0.0,30.0,1.0,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0
1,68355089,24700.0,24700.0,24700.0,11.99,820.28,65000.0,16.06,1.0,715.0,719.0,4.0,6.0,22.0,0.0,21470.0,19.2,38.0,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.00,0.0,0.0,926.35,699.0,695.0,0.0,NaN,1.0,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0
2,68341763,20000.0,20000.0,20000.0,10.78,432.66,63000.0,10.78,0.0,695.0,699.0,0.0,NaN,6.0,0.0,7869.0,56.2,18.0,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.00,0.0,0.0,15813.30,704.0,700.0,0.0,NaN,1.0,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0
3,66310712,35000.0,35000.0,35000.0,14.85,829.90,110000.0,17.06,0.0,785.0,789.0,0.0,NaN,13.0,0.0,7802.0,11.6,17.0,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.00,0.0,0.0,829.90,679.0,675.0,0.0,NaN,1.0,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0
4,68476807,10400.0,10400.0,10400.0,22.45,289.91,104433.0,25.37,1.0,695.0,699.0,3.0,12.0,12.0,0.0,21929.0,64.5,35.0,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.00,0.0,0.0,10128.96,704.0,700.0,0.0,NaN,1.0,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,88985880,40000.0,40000.0,40000.0,10.49,859.56,227000.0,12.75,7.0,705.0,709.0,1.0,9.0,5.0,0.0,8633.0,64.9,37.0,23252.59,23252.59,24903.930000,24903.93,16747.41,8156.52,0.00,0.0,0.0,859.56,724.0,720.0,0.0,10.0,1.0,0.0,0.0,28398.0,0.0,2.0,0.0,1.0,15.0,19765.0,46.0,0.0,0.0,5141.0,51.0,13300.0,3.0,0.0,2.0,2.0,5680.0,4070.0,66.9,0.0,0.0,154.0,258.0,33.0,15.0,3.0,41.0,9.0,1.0,9.0,6.0,2.0,3.0,2.0,15.0,9.0,3.0,23.0,3.0,5.0,0.0,0.0,7.0,0.0,75.7,50.0,0.0,0.0,55970.0,28398.0,12300.0,42670.0
2260697,88224441,24000.0,24000.0,24000.0,14.49,564.56,110000.0,18.30,0.0,660.0,664.0,0.0,67.0,10.0,1.0,17641.0,68.1,31.0,0.00,0.00,6755.400000,6755.40,3521.91,3233.49,0.00,0.0,0.0,564.56,594.0,590.0,0.0,67.0,1.0,0.0,0.0,62426.0,0.0,2.0,0.0,2.0,20.0,44785.0,78.0,1.0,5.0,6172.0,73.0,25900.0,0.0,0.0,1.0,7.0,6243.0,4660.0,77.5,0.0,0.0,132.0,206.0,9.0,9.0,2.0,9.0,NaN,9.0,NaN,1.0,5.0,7.0,5.0,15.0,4.0,8.0,24.0,7.0,10.0,0.0,0.0,0.0,1.0,96.2,40.0,1.0,0.0,84664.0,62426.0,20700.0,58764.0
2260698,88215728,14000.0,14000.0,14000.0,14.49,329.33,95000.0,23.36,0.0,660.0,664.0,1.0,37.0,8.0,0.0,7662.0,54.0,22.0,8456.12,8456.12,9621.250000,9621.25,5543.88,4027.96,49.41,0.0,0.0,329.33,669.0,665.0,0.0,37.0,1.0,0.0,0.0,143066.0,0.0,1.0,1.0,2.0,7.0,32071.0,94.0,0.0,1.0,4093.0,84.0,14200.0,3.0,1.0,2.0,3.0,17883.0,1838.0,80.7,0.0,0.0,149.0,243.0,22.0,7.0,1.0,75.0,39.0,6.0,37.0,4.0,3.0,3.0,4.0,12.0,3.0,5.0,17.0,3.0,8.0,0.0,0.0,0.0,1.0,81.8,50.0,0.0,0.0,163804.0,44215.0,9500.0,34169.0
2260699,Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
re = df2.drop(columns=['Application Date', 'Loan Title', 'State', 'Zip Code', 'Employment Length'])
re

          Amount Requested  Risk_Score Debt-To-Income Ratio  Policy Code
0                   1000.0       693.0                  10%          0.0
1                   1000.0       703.0                  10%          0.0
2                  11000.0       715.0                  10%          0.0
3                   6000.0       698.0               38.64%          0.0
4                   1500.0       509.0                9.43%          0.0
...                    ...         ...                  ...          ...
27648736           10000.0       590.0               41.26%          0.0
27648737           10000.0         NaN                1.48%          0.0
27648738            1200.0       686.0               10.26%          0.0
27648739           25000.0         NaN               17.71%          0.0
27648740           15000.0       684.0               10.58%          0.0

[27648741 rows x 4 columns]

In [8]:
# Mengidentifikasi nilai yang hilang
def missing_values_report(df, name):
    missing_summary = df.isnull().sum()
    missing_summary = missing_summary[missing_summary > 0]
    
    print(f"Laporan Nilai Hilang untuk {name}:")
    print(missing_summary)
    print("\nPersentase nilai hilang per kolom:")
    print((df.isnull().mean() * 100).round(2))
    print("="*50)

In [9]:
# Menampilkan laporan nilai yang hilang
missing_values_report(df1, "Dataset 1")
missing_values_report(df2, "Dataset 2")

Laporan Nilai Hilang untuk Dataset 1:
member_id                2260701
loan_amnt                     33
funded_amnt                   33
funded_amnt_inv               33
term                          33
                          ...
settlement_status        2226455
settlement_date          2226455
settlement_amount        2226455
settlement_percentage    2226455
settlement_term          2226455
Length: 150, dtype: int64

Persentase nilai hilang per kolom:
id                         0.00
member_id                100.00
loan_amnt                  0.00
funded_amnt                0.00
funded_amnt_inv            0.00
                          ...
settlement_status         98.49
settlement_date           98.49
settlement_amount         98.49
settlement_percentage     98.49
settlement_term           98.49
Length: 151, dtype: float64
==================================================
Laporan Nilai Hilang untuk Dataset 2:
Loan Title               1305
Risk_Score           18497630
Zip Code                  293
State                      22
Employment Length      951355
Policy Code               918
dtype: int64

Persentase nilai hilang per kolom:
Amount Requested         0.00
Application Date         0.00
Loan Title               0.00
Risk_Score              66.90
Debt-To-Income Ratio     0.00
Zip Code                 0.00
State                    0.00
Employment Length        3.44
Policy Code              0.00
dtype: float64
==================================================

In [10]:
# Menangani nilai yang hilang
def handle_missing_values(df, strategy="mean"):
    for column in df.columns:
        if df[column].isnull().sum() > 0:
            if df[column].dtype == 'object':  # Kategorikal
                df[column].fillna(df[column].mode()[0], inplace=True)
            else:  # Numerik
                if strategy == "mean":
                    df[column].fillna(df[column].mean(), inplace=True)
                elif strategy == "median":
                    df[column].fillna(df[column].median(), inplace=True)
                elif strategy == "drop":
                    df.dropna(subset=[column], inplace=True)
    return df

In [11]:
# Mengimputasi atau menghapus nilai yang hilang
df1_cleaned = handle_missing_values(df1, strategy="mean")
df2_cleaned = handle_missing_values(df2, strategy="mean")

C:\Users\STRIX\AppData\Local\Temp\ipykernel_43660\433978708.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)
C:\Users\STRIX\AppData\Local\Temp\ipykernel_43660\433978708.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)

In [12]:
# Menyimpan dataset yang sudah dibersihkan
df1_cleaned.to_csv("accepted_cleaned.csv", index=False)
df2_cleaned.to_csv("rejected_cleaned.csv", index=False)

print("Pembersihan data selesai. File telah disimpan.")

Pembersihan data selesai. File telah disimpan.